.cache/
.venv-flint/
.history/

__pycache__/
*.pyc

.DS_Store
Thumbs.db

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
appendix/appendix.pdf

tests/check_examples_run.log
tests/check_examples_run.err
tests/generate_examples_run.log
tests/generate_examples_run.err
